<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Proyecto Aprendizaje de Maquina</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style-large.css')}}" />

	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
 </head>
  <body id="top">
    
    <header id="header" class="skel-layers-fixed">
				<h1><a href="{{ url_for('index') }}">Analisis de Sentimientos</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="{{ url_for('index') }}">Inicio</a></li>
						<li><a href="{{ url_for('coseno') }}">Coseno - Vectorial</a></li>
						<li><a href="{{ url_for('jaccard') }}">Jaccard</a></li>
						<li><a href="{{ url_for('regresion') }}">Regresion Logistica</a></li>
						<li><a href="{{ url_for('textblood') }}">TextBlood</a></li>
					</ul>
				</nav>
			</header>

    <section id="banner">
				<div class="inner">
					<h2>Analisis de Sentimientos</h2>
				</div>
			</section>

		<!-- One -->
		
	
			
				<header class="major">
				
					</br></br>
					{% block content %}
     				{% endblock%}
			
				
			
			
		<!-- Two -->
		
					{% block contents %}
     				{% endblock%}
					<p></p>
				</header>
						
			
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="copyright">
						<li>&copy; Diego Gonzales - Arnaldo Ortiz - Leonel Parrales - Wilian Tapia - Jefferson Yanqui </li>
					</ul>
				</div>
			</footer>

  

   		<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
		<script src="{{url_for('static',filename='js/skel.min.js')}}"></script>
		<script src="{{url_for('static',filename='js/skel-layers.min.js')}}"></script>
		<script src="{{url_for('static',filename='js/init.js')}}"></script>
		<script src="{{url_for('static',filename='js/main.js')}}"></script>

		
  </body>
</html>
